.App {
  text-align: center;
}

.form-lebel {
  margin-left: 20px;
  font-size: 18px;
  color: #444;
  line-height: 18px;
  font-weight: bold;
}

.form-input {
  width: 20%;
  margin: 20px;
  height: 44px;
  line-height: 44px;
  border-radius: 4px;
  padding: 0 12px;
  font-size: 15px;
  border: #e2e2e2 solid 1px;
}

.form-submit-btn {
  border-radius: 4px;
  max-width: 113px;
  width: 100%;
  height: 44px;
  font-size: 14px;
  color: #065fd4;
  background: #fff;
  border: #065fd4 solid 1px;
  cursor: pointer;
}
