.App {
  text-align: center;
}
.gameBlock {
  position: relative;
  width: 600px;
  margin: 50px auto;
  height: 600px;
  border: #000 solid 2px;
}

.gameSnake {
  position: absolute;
  width: 2%;
  height: 2%;
  border: #fff solid 1px;
  background: #000;
  z-index: 2;
}

.snakeFood {
  position: absolute;
  width: 2%;
  height: 2%;
  border: #fff solid 1px;
  background: rgb(211, 15, 15);
  z-index: 1;
}
